<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage URL Shortner</title>
  </head>
  <body>
    <form method="POST" action="/url">
      <label>URL Shortner by safi-io</label>
      <input type="text" placeholder="enter url" name="url" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
