<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sending file</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <h1>Hello There</h1>
    <h2><%= title %></h2>
  </body>
</html>
