<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generate Dummy Data</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <button id="button">Generate Data in Database</button>
    <button id="button2">Empty Database</button>

    <script>
      let button = document.getElementById("button");
      let button2 = document.getElementById("button2");
      button.addEventListener("click", async () => {
        const response = await fetch("/generate");
      });
      button2.addEventListener("click", async () => {
        const response = await fetch("/delete");
      });
    </script>
  </body>
</html>
