<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Sign-in Page</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <% if (locals.errorType) { %>
      <div class="alert alert-warning" role="alert">
        You must sign-in first.
      </div>
    <% } %>

    <div class="container">
      <form action="/user/signin" method="post">
        <h1 class="mt-4">SIGN-IN PAGE</h1>

        <!-- Email Address -->
        <div class="mb-3 mt-4">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            name="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>

        <!-- Password -->
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>
